body{
  margin: 0px;
}

.container{
    display: flex;
    position: relative;
    height: 100vh;
    width: 99vw;
    background-size: 100%;
    justify-content: center;
    background-image: url('./Imagens/logo\ fundo.png');
    background-size: cover;
}

.container::before{
    display: flex;
    background: linear-gradient(180deg, rgba(21, 55, 100, 0.95), rgba(0, 0, 0));
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
}  

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(21, 55, 100);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
   }
   
   #myBtn:hover {
    background-color: #555; 
   }

.img{
    display: flex;
    background-size: cover;
    background-size: 100%;
    height: 120px;
    width: 260px;
    background-repeat: no-repeat;
    position: relative;
    top: 50px;
    left: -30px;
}

.box_cabecalho{
    display: flex;
    background-color: #0000;
    justify-content: center;
    padding: 10px;
    height: 50px;
    width: 700px; 
    gap: 30px;
    position: relative;
    top: 45px;
    left: -30px;
}

.but_cabecalho{
    background-color: #0000;
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: center;
    border: none;
    color: black;
    font-family: Open Sans Bold;
    cursor: pointer;
    color: white;
}

.but_cabecalho, .but_servico:active{
    opacity: 0.7;
}

a{
    text-decoration: none;
}

.box_contat_whats{
    display: flex;
    justify-content: center;
    height: 20px;
    padding: 10px;
    position: relative;
    top: 60px;
    left: 20px;
    font-family: Open Sans Bold;
    font-size: 14px;
    align-items: center;
    color: white;
}

.img_whats{
    display: flex;
    padding-right: 3px;
    height: 30px;
    width: 30px;
}

.rede_social{
    display: flex;
    position: relative;
    top: 405px;
    left: 300px;
    width: 50px;
    height: 150px;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.img_rede_social_face, .img_rede_social_insta, .img_rede_social_yout, .img_rede_social_link{
   padding: 2px;
}

.img_rede_social_face{
    height: 40px;
    width: 40px;
}

.img_rede_social_insta{
    height: 53px;
    width: 53px;
} 

.img_rede_social_yout{  
    height: 43px;
    width: 43px;
}

.img_rede_social_link{
    height: 32px;
    width: 32px;
}

.img_logo_fundo{
    display: flex;
    position: absolute; 
    top: 270px;
    left: 400px;
}

.box_circulo_fundo{
    display: flex;
    position: absolute;
    top: 470px;
    left: 1050px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Open Sans Bold;
    font-size: 25px;
    text-align: center;
}
.img_circulo_fundo{
    display: flex;
    position: absolute;
    top: -210px;
    left: -265px;
    height: 500px;
    width: 920px;
    opacity: 0.3;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 99vw;
    background-size: 100%;
    background-color: black;
}

.box_cabecalho_servico{
    display: flex;
    position: absolute;
    top: 130px;
    left: 400px;
    background-color: #0000;
    gap: 40px;
}

.titulo_servico{
    display: flex;
    position: absolute;
    color: #c1ff72;
    font-family: Open Sans Bold;
    font-size: 60px;
}

.conteudo_servico1{
    display: flex;
    position: absolute;
    top: 150px;
    width: 600px;
    color: white;
    text-indent: 60px;
    font-family: Open Sans Bold;
    font-size: 20px;
}

.conteudo_servico2{
    display: flex;
    position: absolute;
    top: 325px;
    width: 600px;
    color: white;
    text-indent: 60px;
    font-family: Open Sans Bold;
    font-size: 20px;
}

.img_carta-email{
    display: flex;
    position: absolute;
    top: 270px;
    left: 630px;
    height: 30px;
    width: 40px;
    transform: rotate(-15deg);
}

.img_celular{
    display: flex;
    position: absolute;
    top: 400px;
    left: 630px;
    height: 67.5px;
    width: 90px;
    transform: rotate(20deg);
}

.img_foguete{
    display: flex;
    position: absolute;
    top: 550px;
    left: 300px;
    height: 67.5px;
    width: 90px;

}

.img_lampada{
    display: flex;
    position: absolute;
    top: 530px;
    left: 470px;
    height: 60px;
    width: 80px;
    transform: rotate(-25deg);
}

.but_box_servico{
    display: flex;
    position: absolute;
    top: 350px;
    left: 1200px;
    flex-direction: column;
    padding: 10px;
}

.but_servico{
    display: flex;
    position: relative;
    padding: 10px;
    background-color: #0000;
    color: white;
    border: none;
    font-family: Open Sans Bold;
    font-size: 25px;
    cursor: pointer;
}

.img_detalhe{
    display: flex;
    position: absolute;
    top: -120px;
    left: -200px;
    height: 150px;
    width: 266px; 
}

.img_detalhe2{
    display: flex;
    position: absolute;
    top: 500px;
    left: 1000px;
    height: 150px;
    width: 266px;
}