@font-face {
    font-family: sedan;
    src: url(./fonts/Sedan-Regular.ttf)
}

*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: sedan;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100dvw;
    height: 100dvh;
    background-image: url(../sourceCodes_Login/image/Design\ sem\ nome\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    background-color: #ffffff;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 380px;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
}

h1{
    margin: 0px auto 10% auto;
    font-size: 2.2em;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
}

label{
    margin-left: 5px;
    color: rgb(80, 80, 80);
}

input{
    height: 40%;
    border-radius: 5px;
    margin: 2px 0px;
    padding: 2px 0px 2px 5px;
    font-size: 01em;
    background-color: rgb(233, 233, 233);
}


#icone_person{
    position: absolute;
    z-index: 10;
    margin: 27px 0px 0px 345px;
    font-size: 1.4em;
    color: rgb(109, 109, 109);
}

#icone_email{
    position: absolute;
    z-index: 10;
    margin: 27px 0px 0px 345px;
    font-size: 1.4em;
    color: rgb(109, 109, 109);
}

#icone_visib1, #icone_visib2{
    position: absolute;
    z-index: 10;
    margin: 27px 0px 0px 345px;
    font-size: 1.5em;
    color: rgb(109, 109, 109);
}

#icone_visib1:hover, #icone_visib2:hover{
    cursor: pointer;
}

span{
    display: none;
    margin-left: 5px;
    font-size: 0.7em;
    color: red;
    font-weight: 500;
}

.but_submit{
    width: 100%;
    height: 10%;
    background-color: rgb(212, 71, 71);
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1em;
}

.but_submit:hover{
    cursor: pointer;
    opacity: 0.8;
}

.container > label{
    margin: 1% auto;
    color:  rgb(109, 109, 109);
    font-size: 0.9em;
}

.container > label > button{
    background-color: #0000;
    color: rgb(212, 71, 71);
    font-weight: bold;
    font-size: 0.9em;
}

.container > label > button:hover{
    cursor: pointer;
    opacity: 0.5;
}

#span_login{
    margin: 5px auto -5px auto;
    display:none;
    color: lightgreen;
    text-shadow: -1px -1px 0 darkgreen,  
                 1px -1px 0 darkgreen,
                 -1px 1px 0 darkgreen,
                 1px 1px 0 darkgreen;
    font-weight: bolder;
}

@media screen and (max-width: 1000px){
    .container{
        width: 300px;
        height: 400px;
    }

    #icone_person,  #icone_visib1, #icone_visib2, #icone_email{
        margin: 25px 0px 0px 260px;
        font-size: 1.2em;
    }
}