.ContainerContainer{
    display: flex;
    height: 100%;
    width: 100%;

       .Graphics{
        display: flex;
        height: 90%;
        width: 80%;
        padding: 40px 0px 0px 40px;
    }
}
